body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}
.main{
    margin:0 auto;
}

.main h1{
    text-align:center;
}
.form-group{
    background-color:pink;
    }
input[type=text],input[type=email]{
    width:50%;
}