body, html{
    background-color:lightpink;
   font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;

}
header{
    background-color:blue;
}
.top-bar{
    padding:15px 0px;
   }
.top-bar .contact_number a{
    text-decoration:none;
    color:#fff;
    font-size:12px;
  }
.top-bar .icons{
    float:right;
}
.icons ul {
    padding:0;
    margin:0;
    float:right;
    right:0px;
}
.icons ul li {
    display:inline-block;
    list-style:none;
}
.icons ul li a{
    padding:7px;
    border:none;
    background-color:#fff;
    border-radius:50%;
}
.icons ul li a .fa{
    color:blue;
}
.navbar-header{
    padding:10px 0px;
}
.navbar-nav{
    padding:10px 0px;
    margin:0;
}
.navbar-nav li a{
    padding:8px 12px;
    color:blue;
    font-size:16px;
    }
    .navbar-nav li a.active,.navbar-nav li a:hover{
        background-color:blue;
        color:#fff;
    }
.register-form{
    font-size: 16px;
   left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    border:1px solid grey;
    border-shadow:3px;
    padding:30px;
    border-radius:5px;  
    background-color:#34515E;
}
.register-form h1{
    color:#fff;
    padding:10px 0px;
}
.regbutton{    
    height: 50px;
    width: 200px;
    background-color:orange !important;
    border-radius: 0px;
    font-size: 18px;
    color:white;
    border: none !important;
    margin-bottom: 5px;
}
.regbutton:hover{    
    color: white;
    background-color:#aa422f;
}
.regbutton:active{    
    color: white;
    background-color:#aa422f;
}
.logbutton{    
    height: 50px;
    width: 200px;
    background-color:yellowgreen !important;
    border-radius: 0px;
    font-size: 18px;
    color:white;
    border: none !important;
    margin-bottom: 5px;
}
.logbutton:hover{    
    color: white;
    background-color:darkolivegreen;
}
.logbutton:active{    
    color: white;
    background-color:darkolivegreen;
}
.register-form label{
    color: aliceblue;
    
}
.register-form input{
    margin-bottom: 5px;
    width: 430px;
    height: 45px;
    border-radius: 5px;
}


